<%- include('../partials/header'); -%>

<%- include('../partials/nav'); -%>

<div class="container mt-3">
    <div class="card card-body">
    Prioritize
    <%- body %>
    </div>
    Sidebar
    <%- defineContent('sidebar')%>
</div>

<%- include('../partials/footer'); -%>